fileVersion: 1
id: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
name: S_PIMS_LDDI_REFERENCE_VALUES
operation:
  config:
    insertStrategy: INSERT
    postSQL: ""
    preSQL: ""
    testsEnabled: true
  database: ""
  deployEnabled: true
  description: ""
  isMultisource: false
  locationName: TGT
  materializationType: table
  metadata:
    appliedNodeTests: []
    columns:
      - appliedColumnTests: {}
        columnReference:
          columnCounter: bfc62ce0-01d8-4184-b552-ea19986059b1
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: RFVDM_CODE
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: 8fb18cd5-88d8-4bf5-b789-c3589efd2cbe
                stepCounter: bea07b23-406c-4212-ab5a-421435aef0dc
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: cf5fcf4f-a891-4d8c-9541-e679cd965495
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: DECIMAL(10)
        defaultValue: ""
        description: ""
        name: RFVAL_REFNO
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: 97aebd53-8994-45f0-9fea-1b3150a90054
                stepCounter: 06fa4241-360c-43d0-8e4a-8b860f92fc09
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 514952b9-1a7b-4d64-a9d8-d1da3a26bf3d
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(255)
        defaultValue: ""
        description: ""
        name: RFVAL_REFNO_VARCHAR
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: 97aebd53-8994-45f0-9fea-1b3150a90054
                stepCounter: 06fa4241-360c-43d0-8e4a-8b860f92fc09
            transform: cast(ds_pims_reference_values.rfval_refno AS varchar(255))
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 3a02f84c-c701-45f5-ac6f-d4aebd8b5c99
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: MAIN_CODE
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: fbb01e3b-4612-47c8-9a4a-5d6abddc60ef
                stepCounter: 06fa4241-360c-43d0-8e4a-8b860f92fc09
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 5a4d134d-5cd6-4a72-9887-76e07922df93
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(80)
        defaultValue: ""
        description: ""
        name: DESCRIPTION
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: 551f483d-a948-4558-87f8-d3e65fffac3c
                stepCounter: 06fa4241-360c-43d0-8e4a-8b860f92fc09
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: bf56ee24-7dc9-4eec-bedf-bb1187914a7e
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: MHINC
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 4839acbc-42c2-46c5-8e4f-1433354f646e
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: REPRT
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 7f69fbff-59b7-461b-82b5-cddc62d55150
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: LOCAL
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: c1138730-c3da-4438-9b3f-a15d55046d8a
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: MHA
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: b823e6d0-408f-4d13-b701-5ddef997a099
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: MHS
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: ca753f0e-b884-4417-94b1-e88854ebe355
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: NBRS
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: 62ef27bc-f785-4b33-b28f-55de3a9a5d98
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: NPF
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: b4d047a7-ea50-430b-9bc2-6d36b652c1e4
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: VARCHAR(100)
        defaultValue: ""
        description: ""
        name: ORGID
        nullable: true
        sourceColumnReferences:
          - columnReferences:
              - columnCounter: "0"
                stepCounter: "0"
            transform: ""
      - appliedColumnTests: {}
        columnReference:
          columnCounter: e7d21a5c-b445-41f5-9157-c6527b82a198
          stepCounter: 3f496b2f-dd37-4ac2-9f95-6838236a1a2c
        config: {}
        dataType: DATETIME
        defaultValue: ""
        description: Date and time the row was updated in the data warehouse.
        isSystemUpdateDate: true
        name: DSS_UPDATE_TIME
        nullable: true
        sourceColumnReferences:
          - columnReferences: []
            transform: ""
    enabledColumnTestIDs: []
    sourceMapping:
      - aliases: {}
        customSQL:
          customSQL: ""
        dependencies:
          - locationName: TGT
            nodeName: S_PIMS_LDDI_10
        join:
          joinCondition: |-
            FROM (
                    SELECT DISTINCT rfvdm_code
                      FROM s_pims_lddi_10
                   ) s_pims_lddi_10
              JOIN ds_pims_reference_values
                ON s_pims_lddi_10.rfvdm_code = ds_pims_reference_values.rfvdm_code
               AND ds_pims_reference_values.archv_flag = 'N'
              LEFT JOIN(
                    SELECT *
                      FROM(
                            SELECT rfval_refno,
                                   rityp_code,
                                   identifier
                              FROM ds_pims_reference_value_ids
                           ) c PIVOT (max(identifier) FOR rityp_code IN(MHINC, REPRT, LOCAL, MHA, MHS, NBRS, NPF, ORGID)) pivotc
                   ) z
                ON ds_pims_reference_values.rfval_refno = z.rfval_refno
        name: S_PIMS_LDDI_REFERENCE_VALUES
        noLinkRefs: []
  name: S_PIMS_LDDI_REFERENCE_VALUES
  overrideSQL: false
  schema: ""
  sqlType: Stage
  type: sql
  version: 1
type: Node
