{{ stage('Create SQL') }}
{% if config.SQL_Deploy | trim | length > 0 %}
        
    {{ config.SQL_Deploy }}

{% else %}
    {% set source = sources[0] %}
    
    CREATE OR REPLACE
    {% if node.materializationType == 'table' %}
        TABLE
    {% else %}
        VIEW 
    {% endif %}
    {{ this }}
    AS  SELECT 
        {% for col in source.columns %}
             {{ get_source_transform(col) }} as {{ col.name }}{%- if not loop.last -%}, {% endif %}
        {% endfor %}

{% endif %}